
#ueberschrift{
    font-size: 30px;
}

#div0{
    display: inline-block;
    height: 700px;
    width: 700px;
    background-color: aquamarine;
    margin: 30px;
    margin-left: 10%;
}

#div1{
    display: inline-block;
    height: 700px;
    width: 700px;
    background-color: aqua;
    margin: 30px;
    margin-right: 10%;
}

span{
    position: fixed;
    height: auto;
    width: 155px;
    background-color: burlywood;
    border-style: solid;
    border-color: black;
}

#button{
    position: fixed;
    height: 20px; 
    margin-top: 10px;
    margin-left: 10px;
}